{% extends "base.html" %} 
{% block title %} Calculate Forecast {% endblock %}

{% block content %}
<nav class="" id="tabMobNav"> 
  <div class="logo" >
    <img src="/static/icons/polygon.svg" class="polygon">
  <h3>Covidcaster</h3>
</div>
  <div class="sidebar mobtab-nav">
  <ul>
    <li>
      <a href="{{ url_for('index') }}" id="forecasts">
        <img src="/static/icons/circle.svg" class="icon"></img>
        </a>Forecasts
    </li> 
    <li>
      <a href="{{ url_for('overview_statistics') }}" id="overviewShortLogo" >
        <img src="/static/icons/square.svg " class="icon"></img>
      </a>
        Overview
    </li> 
    <li class="">
      <a href="{{ url_for('calculate') }}" id="calculateShortLogo">
        <img src="/static/icons/triangle.svg" class="icon active"></img>
        </a>Calculate
    </li> 
  </ul>
</div>   
</nav>  
<nav class="sidebar" id="desktopNav"> 
  <div class="logo" id="desktopLogo">
      <img src="/static/icons/polygon.svg" class="polygon">
    <h3>Covidcaster</h3>
  </div>
  <div class="sidebar-items">
  <ul>
      <li>
        <a href="{{ url_for('index') }}" id="forecasts"><img src="/static/icons/circle.svg" class="icon"></img>
          Forecasts</a>
      </li> 
      <li>
        <a href="{{ url_for('overview_statistics') }}" id="overviewLogoDesktop" >
          <img src="/static/icons/square.svg" class="icon"></img>
          <span class="overview">Overview Statistics</span>
        </a>
        <a href="{{ url_for('overview_statistics') }}" id="overviewShortLogo" >
          <img src="/static/icons/square.svg"></img>
        </a>
          <span class="overviewShort">Overview</span>
      </li> 
      <li class="active">
        <a href="{{ url_for('calculate') }}" id="calculateLogoDesktop">
          <img src="/static/icons/triangle.svg" class="icon"></img>
          <span class="calculate">Calculate Forecast</span>
        </a>
        <a href="{{ url_for('calculate') }}" id="calculateShortLogo">
          <img src="/static/icons/triangle.svg" class="icon"></img>
          <span class="calculateShort">Calculate</span></a>
      </li> 
    </ul>
  </div>   
</nav>
<div id="loaderSection">
  <p id="loaderText">Calculating forecasts...</p>
<div class="loader" id="loader">
  <div class="loaderBar"></div>
</div>
</div>
<main id="calculate">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
          <div class="banner">
            <img src="/static/icons/error.svg" id="error-icon" style="margin-left: 34px; width: 33.33px; height: 42.3px;"></img>
            <p id="error-message">{{ message }}</p>
            <button class="dismiss" id="dismissBtn" onclick="this.parentElement.style.display='none';"><h5>Dismiss</h5></button>
          </div>
          {% endfor %}
      {% endif %}
  {% endwith %}

  <div class="calculate-hero">
    <img src="/static/images/people-web.svg" id="people-mob">
    <div class="calculate-text">
      <h2>Create forecasts for your data</h2>
      <p>
        Make a 14-day forecast using our trained model. The historical data must be in the format of CSV, 
        containing two columns and at least 30 rows which represents time series data of case counts 
        for 30 consecutive days. <br><br> Download our <a href="{{ url_for('download_file') }}" class="links" target="_blank">sample dataset</a>
      </p>
    <button id="uploadBtn" class="upload-btn">
      <img src="/static/icons/upload.svg" class="upload-icon">
      Upload Data
    </button>
    </div>
      <img src="/static/images/people-web.svg" id="people-web">
  </div>

  <div id="uploadModal" class="upload-modal" >
    <div class="modal-content">
      <h2 style="font-size: 24px;">Choose file</h2>
      <p>
        Choose the csv file containing the data you want to create a forecast for.
      </p>
      
        <form action="{{url_for('get_result')}}" method="post" enctype="multipart/form-data">            
          <div id="chooser">
            <span id="filename-span" class="hidden"></span>
            <label id="choose-btn">
                Browse File
                  <input name="file" id="file-input" type="file" class="hidden" accept=".csv" required>
            </label>
          </div>
            <div class="options" style="padding-left:10px;">
              <input id="proceed" type="submit" value="Proceed" disabled onclick="showDiv()">
              
            </div>
      </form>
      <button class="cancel" ><h5>Cancel</h5></button>
    </div>
  </div>
</main>
<script>
  $(document).ready(
  function(){
    $('input:file').change(
        function(){
            if ($(this).val()) {
                $('input:submit').attr('disabled',false); 
            } 
        }
        );
  });
  function showDiv() {
    document.getElementById('uploadModal').style.display = "none";
    document.getElementById('calculate').style.display = "none";
    document.getElementById('loaderSection').style.display = "inline-block";
  }
</script>
{% endblock %}