{% extends "base.html" %} 
{% block title %} Error {% endblock %}

{% block content %} 
  <main id="calculate">
    <div class="calculate-hero">
      <img src="/static/images/people-web.svg" id="people-mob">
      <div class="calculate-text">
        <h2>Something went wrong...</h2>
        <p>
         Sorry, we can’t find the page you’re looking for. You might have typed in wrong address or the page has moved.
         In the meantime, try again or return to the home page.
        </p>
     
    </div>
  </main>    
{% endblock %}