{% extends "base.html" %} 
{% block title %} Overview Statistics {% endblock %}

{% block content %}
<nav class="" id="tabMobNav"> 
  <div class="logo" >
    <img src="/static/icons/polygon.svg" class="polygon">
  <h3>Covidcaster</h3>
</div>
  <div class="sidebar mobtab-nav">
  <ul>
    <li>
      <a href="{{ url_for('index') }}" id="forecasts">
        <img src="/static/icons/circle.svg" class="icon"></img>
        </a>Forecasts
    </li> 
    <li>
      <a href="{{ url_for('overview_statistics') }}" id="overviewShortLogo" >
        <img src="/static/icons/square.svg " class="icon active"></img>
      </a>
        Overview
    </li> 
    <li class="">
      <a href="{{ url_for('calculate') }}" id="calculateShortLogo">
        <img src="/static/icons/triangle.svg" class="icon"></img>
        </a>Calculate
    </li> 
  </ul>
</div>   
</nav>  
<nav class="sidebar" id="desktopNav"> 
  <div class="logo" id="desktopLogo">
      <img src="/static/icons/polygon.svg" class="polygon">
    <h3>Covidcaster</h3>
  </div>
  <div class="sidebar-items">
  <ul>
      <li>
        <a href="{{ url_for('index') }}" id="forecasts"><img src="/static/icons/circle.svg" class="icon"></img>
          Forecasts</a>
      </li> 
      <li class="active">
        <a href="{{ url_for('overview_statistics') }}" id="overviewLogoDesktop" >
          <img src="/static/icons/square.svg" class="icon"></img>
          <span class="overview">Overview Statistics</span>
        </a>
        <a href="{{ url_for('overview_statistics') }}" id="overviewShortLogo" >
          <img src="/static/icons/square.svg"></img>
        </a>
          <span class="overviewShort">Overview</span>
      </li> 
      <li>
        <a href="{{ url_for('calculate') }}" id="calculateLogoDesktop">
          <img src="/static/icons/triangle.svg" class="icon"></img>
          <span class="calculate">Calculate Forecast</span>
        </a>
        <a href="{{ url_for('calculate') }}" id="calculateShortLogo">
          <img src="/static/icons/triangle.svg" class="icon"></img>
          <span class="calculateShort">Calculate</span></a>
      </li> 
    </ul>
  </div>   
</nav>
<main id="overview">
  <h2 style="font-size: 32px;"> Overview Statistics</h2>
  <p style="margin-bottom: 30px;"> COVID-19 cases overview in Albay as of <b id="updateDate"></b></p> 
  <section class="total-cases-blocks">
    <div class="total-cases cases-block">
      <h4 id="totalCases"></h4>
      <h5>total cases</h5>
    </div>
      <div class="new-cases  cases-block">
          <h4 id="activeCases"></h4>
          <h5>active cases</h5>
      </div>
      <div class="deaths cases-block">
          <h4 id="totalDeaths"></h4>
          <h5>deaths</h5>
      </div>
      <div class="recoveries cases-block">
          <h4 id="totalRecoveries"></h4>
          <h5>recoveries</h5>
      </div>
  </section>
  
  <h2 style="font-size: 20px;">Total Daily Cases in Albay</h2>
  <div class="line-cases tooltip">
    <canvas id="overviewChart"></canvas>
    <span class="tooltiptext"><strong>Tip:</strong> You can use your scroll wheel or trackpad to zoom on the chart</span>
  </div><br>
  <h2 style="font-size: 20px;">Total Cases by Age</h2>
  <div class="bar-cases tooltip" >
    <canvas id="bar_chart"></canvas>
    <span class="tooltiptext"><strong>Tip:</strong> You can use your scroll wheel or trackpad to zoom on the chart</span>
  </div><br>
  <h2 style="font-size: 20px;">Total Cases by Gender</h2>
    <div class="bar-cases">
      <canvas id="pie_chart"></canvas>
    </div><br>
    <h2 style="font-size: 12px;">Source: <a href="https://doh.gov.ph/covid19tracker" class="links">
      Department of Health</a></h2>
  </div>
</main>
{% endblock %}  